:root {
    --textalign: unset;
    --displaygrid: block;
    --displayflex: block;
    --justifycontent: left;
    --aligncenter: normal;
}

body {
    background-color: #111;
    color: #fff;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.main {
    display: flex;
    flex-flow: column;
    height: 98vh;
}

h1 {
    text-align: center;
}

.info {
    border: 1px solid #fff;
}

.example {
    display: var(--displayflex);
    align-items: var(--aligncenter);
    justify-content: var(--justifycontent);
    height: 100%;
    border: 1px solid red;
    flex-grow: 1;
}

.sample {
    display: var(--displaygrid);
    align-items: center;
    height: 150px;
    width: 150px;
    border: 1px solid greenyellow;
    text-align: var(--textalign);
}

.object {
    color: greenyellow;
}

.parent {
    color: red;
}